
/node_modules

.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
Todo.rtf

.buildpath
/.settings
public/.DS_Store
/.sass-cache
/.idea
*/.sass-cache
*/.idea
*/.sass-cache
*/.DS_Store

/node_modules
.env

app/.DS_Store
app/Http/.DS_Store
app/Http/Controllers/.DS_Store
app/Http/Middleware/.DS_Store
.idea

.DS_Store
config/database.php
database/users/*
public/users/*
sftp-config.json
config/*-local*
