.page-list-round{
  &>li{
    display: inline-block;
  }
  &>li>a, &>li>span{
    color: $font-66;
    border:0;
    background-color: transparent;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
  }
  &>li:first-child>a,&>li:last-child>a,&>li:last-child>span{
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
  }
  &>li>a:focus, &>li>a:hover{
    background-color: $green;
    color: $font-ff;
  }
  &>li>span:focus, &>li>span:hover{
    background-color: transparent;
  }
  &>.active>a, &>.active>a:focus, &>.active>a:hover, &>.active>span, &>.active>span:focus, &>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: $green;
  }
  &>li>a{
    padding:0;
    display: block;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1rem;
    width: 1rem;
    cursor: pointer;
  }
  &>li>span{
    font-size: 0.7rem;
    padding:0;
  }
}
