.w100{
  width: 100%;
}
.w76-6{
  width: 76.6%;
}
.w70{
  width: 70%;
}
.w73-2{
  width:73.2%;
}
.w26-8{
  width:26.8%;
}
.w54{
  width: 54%;
}
.w50{
  width: 50%;
}
.w46{
  width: 46%;
}
.w30{
  width: 30%;
}
.w23-4{
  width: 23.4%;
}
.w16-5{
  width: 18.5%;
}
.w56-5{
  width: 56.5%;
}
.w27{
  width: 25%;
}
